apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: production

resources:
  - ../../base

namePrefix: prod-

labels:
  - pairs:
      environment: production

replicas:
  - name: planet-proxy-app
    count: 1

patches:
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: "256Mi"
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/cpu
        value: "200m"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: "1Gi"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: "1000m"
    target:
      kind: Deployment
      name: planet-proxy-app
  - path: hpa-patch.yaml

configMapGenerator:
  - name: planet-proxy-config
    behavior: merge
    literals:
      - NODE_ENV=production
      - LOG_LEVEL=warn

images:
  - name: ghcr.io/arunachalamkalimuthu/planet-proxy
    newTag: latest
